.filter-container select {
  color: #fff;
  width: 100%;
  padding: 8px 18px;
  border-radius: 5px;
  background-color: #021b215e;
  box-shadow: 0rem 0.875rem 1.625rem -0.75rem rgba(186, 255, 247, 0.4),
    0rem 0.25rem 1.4375rem 0rem rgba(186, 255, 247, 0.15),
    0rem 0.5rem 0.625rem -0.3125rem rgba(186, 255, 247, 0.2);
  border: 0;
  cursor: pointer;
}

.filter-container select option {
  background-color: #021b215e;
  text-transform: capitalize;
}

.filter-container select:focus {
  outline: none;
}

.filter-container select:-webkit-autofill,
.filter-container select:-webkit-autofill:hover,
.filter-container select:-webkit-autofill:focus,
.filter-container select:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  background-color: rgb(0 0 0 / 24%) !important;
  transition: background-color 5000s ease-in-out 0s;
}
