.upload-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.upload-form {
  color: #fff !important;
  max-width: 735px;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background: #2a40303d;
  padding: 15px 20px 0;
  border: 1px solid transparent;
  overflow: hidden;
}
.upload-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(49, 49, 49, 0));
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

/* heading */
.upload-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

.upload-heading h4 {
  font-weight: 400;
}

.upload-heading span {
  margin-bottom: 8px;
  width: 20px;
  cursor: pointer;
}

.upload-heading span:hover {
  color: #0bb08c;
}

/* content */
.upload-form form {
  padding: 10px 0;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(49, 49, 49, 0), #1effe59e, rgba(49, 49, 49, 0)) 1;
  border-width: 2px 0 0 0;
}

.upload-form form .select-btn {
  overflow: hidden;
  text-align: start;
  margin-bottom: 15px;
}

.upload-form form .select-btn .audio-button {
  color: #8d8d8dd2;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.14);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 5px;
}

.upload-form form .select-btn .audio-button.clicked {
  color: #fff;
  background-color: #021b215e;
}
/* table */
.upload-form form table {
  width: 100%;
}

.upload-form form table thead {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  height: 40px;
}

.upload-form form table tbody {
  font-size: 14px;
  font-weight: 300;
}

.table-container {
  overflow-y: auto;
  max-height: 150px;
  margin: 20px 0;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 10px;
  text-align: center;
}

#table-style::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.14);
}

#table-style::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

#table-style::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.14);
}

/* button */
.upload-form .btn {
  text-align: end;
  margin-top: 10px;
}

/* .upload-form .btn button {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 7px;
  cursor: pointer;
  background-color: #021b215e;
  border: 1px solid transparent;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgba(49, 49, 49, 0)) 1;
} */

/* instruction */
.instruction-icon {
  cursor: pointer;
}

.upload-form form .instruction-box {
  padding: 5px 15px;
  border-radius: 8px;
  background: #0406053b;
  border: 1px solid rgb(88 88 88 / 19%);
}

.upload-form form .instruction-box p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

.upload-form form .instruction-box a {
  display: grid;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  color: #9ce325;
  text-decoration: underline !important;
}

/* skills qnty */
.audio-button.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.badge {
  background-color: #9ce325;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
}
